# fabrication exports
out/
*.zip

# temporary
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*-cache*
*-bak
*-bak*
*~
~*
_autosave-*
\#auto_saved_files\#
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
~*.lck
\#auto_saved_files#

# netlist exports
*.net

# autorouter
*.dsn
*.ses

# backups
.history
**/*-backups/*.zip

# local project settings
*.kicad_prl
